<br><br>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<footer class="footer">
    <div class="container">
        <div class="text-center center-block">
            <h5><strong>JORNADA ACADÉMICA DE COMPUTACIÓN 2017</strong></h5>
            <a href="https://www.facebook.com/JornadaAcademica2017/"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="http://ittepic.edu.mx/"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:marparra@ittepic.edu.mx"><i class="fa fa-envelope-square fa-3x social"></i></a>
            <h6>AV. TECNOLÓGICO # 2595, COL. LAGOS DEL COUNTRY. TEPIC, NAYARIT. MÉXICO. C.P. 63175. TEL: (311) 211 94 00.</h6>
        </div>
    </div>
</footer>

