<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="index.html"><img src="img/escudo.png" width="50" height="50"> ITT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Incio <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="formulario.html"><i class="fa fa-picture-o" aria-hidden="true"></i> Galería fotográfica</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-users" aria-hidden="true"></i> Conferencias</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="index.html#obligatorias"><i class="fa fa-lock" aria-hidden="true"></i> Obligatorias</a>
                        <a class="dropdown-item" href="index.html#optativas"><i class="fa fa-unlock" aria-hidden="true"></i> Optativas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question-circle" aria-hidden="true"></i> Investigaciones</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="carrusel.html"><i class="fa fa-chevron-right" aria-hidden="true"></i> Carrusel</a>
                        <a class="dropdown-item" href="modal.html"><i class="fa fa-commenting-o" aria-hidden="true"></i></i> Ventana Modal</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="acercade.html"><i class="fa fa-info-circle" aria-hidden="true"></i> Acerca de...</a>

                </li>



            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</div>
<br><br><br>

