<div class="container">
    <div class="row">
        <div class="card col-md-12">
            <div class="card-header text-center bg-info">
                <h3>Ejemplo de examen</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="card-text col-md-7">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor doloribus earum eius excepturi hic qui quibusdam voluptas. Atque ducimus facere facilis quo sunt. Ad harum ipsum neque nulla.</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="Usuario.png" width="200" height="200" alt="Generic placeholder image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="text" id="entrada" placeholder="Escriba un texto">
            <button type="button" class="btn btn-success btn-block" id="agrega">Agregar</button>
            <button type="button" class="btn btn-danger btn-block" id="borra">Borrar</button>
        </div>
    </div>
</div>
<br>

<div class="container">
        <table class="table table-inverse">
            <thead>
            <tr>
                <th class="text-center">Alumnos</th>
            </tr>
            </thead>
            <tbody id="t-agrega">
            <tr>
                <td class="text-center">Estado 1</td>
            </tr>
            </tbody>
        </table>
</div>

<div class="container" id="imag">

</div>

<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Hola
                </h3>
            </div>
            <div class="modal-body">
                <p>asmdknaskdnkanksnd</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Cerrar</button>
            </div>
        </div>
    </div>
</div>