<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button id="b-agregar" class="btn btn-block btn-primary" >Agregar</button>
            <button id="b-borrar" class="btn btn-block btn-danger center-block">Borrar</button>
            <button id="b-descarga" class="btn btn-block btn-success">Descarga</button>
        </div>

        <div class="col-md-10">
            <div class="card">
                <p>Actividad</p>
                <input type="text" placeholder="Escriba aquí una actividad" id="mientrada">
                <table class="table table-striped">
                    <thead class="thead bg-info">
                    <tr>
                        <th class="text-center">Tablas dinámicas</th>
                    </tr>
                    </thead>
                    <tbody id="body-detalle">
                    <tr>
                        <td class="text-center"><strong>Datos</strong></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <input type="text" placeholder="Escriba aquí una actividad" id="mientrada2">
</div>
<div class="cotainer" id="imagenes">

</div>