<!--<h1>https://hackerthemes.com/bootstrap-cheatsheet/</h1>
<h1>https://bootstrapbay.com/bootstrap4/</h1>-->
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-success table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center"> Encabezado 1</th>
                        <th class="text-center"> Encabezado 2</th>
                        <th class="text-center"> Encabezado 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Dato 1</td>
                        <td> Dato 2</td>
                        <td> Dato 3</td>
                    </tr>
                    <tr class="table-danger">
                        <td> Dato 1</td>
                        <td> Dato 2</td>
                        <td> Dato 3</td>
                    </tr>
                    <tr class="table-info">
                        <td> Dato 1</td>
                        <td> Dato 2</td>
                        <td> Dato 3</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur blanditiis
                consequuntur cumque dolores doloribus inventore laboriosam maxime minus molestias necessitatibus
                pariatur quaerat qui quo recusandae similique velit, voluptas?</p>
            <p>Aperiam asperiores aut consectetur corporis culpa cumque dignissimos dolorem dolorum ea eaque
                exercitationem id in inventore laborum, libero magni molestiae natus necessitatibus odio officiis quam,
                quia rem repudiandae, tenetur voluptas.</p>
        </div>
    </div>
</div>