<div class="container">
    <br>
    <h1 class="featurette-heading">Crear un Carrusel de imagenes con Boostrap 4</h1><br><br>
    <!-- Slider -->
    <div class="row">
        <div class="col-lg-12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
                <div class="col-lg-12" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner" align="center">
                            <div class="active item" data-slide-number="0" align="center">
                                <img src="img/captura4.png" width="595" height="303"></div>

                            <div class="item" data-slide-number="1" align="center">
                                <img src="img/captura5.png" width="591" height="412"></div>

                            <div class="item" data-slide-number="2" align="center">
                                <img src="img/captura6.png" width="595" height="303"></div>

                            <div class="item" data-slide-number="2" align="center">
                                <img src="img/captura7.png" width="595" height="303"></div>
                            <div class="item" data-slide-number="2" align="center">
                                <img src="img/captura8.png" width="595" height="303"></div>
                            <div class="item" data-slide-number="2" align="center">
                                <img src="img/captura9.png" width="595" height="303"></div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Slider-->
    </div>
</div>