<div class="container">
    <!-- Slider -->
    <div class="row">
        <div class="col-lg-12" id="slider">
            <br><br><img class="portada" src="img/portada1_1.png">
            <!-- Top part of the slider -->
            <div class="row">
                <div class="col-lg-12" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner" align="center">
                            <div class="active item" data-slide-number="0" align="center">
                                <img src="img/portada1.png"></div>

                            <div class="item" data-slide-number="1" align="center">
                                <img src="img/Imagen2.png"></div>

                            <div class="item" data-slide-number="2" align="center">
                                <img src="img/portada2_1.png"></div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Slider-->
    </div>
    <a name="obligatorias" id="obligatorias"></a>
</div>

<br><br><br><br><br>

<div class="container marketing">
    <hr class="featurette-divider">
    <h1 class="featurette-heading">Conferencias Obligatorias</h1>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="img/ia.png" alt="Generic placeholder image" width="140" height="140">
            <h2 class="featurette-heading">Inteligencia Artificial (IBM)</h2>
            <p class="text-muted">Impartida por el M.C. Pablo Salazar Linares.</p>
            <p>En el auditorio de la CTM Nayarit el día 17 de Octubre de 2017, con horario de 09:15 a 10:30 Hrs.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iA">
                Ver detalles &raquo;
            </button>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="img/desarrollo-web.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="featurette-heading">Tendencias en el Desarrollo Web (Oracle)</h2>
            <p class="text-muted">Impartida por el Ing. Adam Carrasco.</p>
            <p>En el auditorio de la CTM Nayarit el día 17 de Octubre de 2017, con horario de 10:30 a 12:30 Hrs.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tdw">
                Ver detalles &raquo;
            </button>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="img/herramientas.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="featurette-heading">Herramientas y técnicas para incrementar la calidad del código (michelada.io)</h2>
            <p class="text-muted">Impartida por el Ing. Eduardo Figarola Mota.</p>
            <p>En el auditorio de la CTM Nayarit el día 17 de Octubre de 2017, con horario de 16:00 a 18:00 Hrs.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hticc">
                Ver detalles &raquo;
            </button>
        </div><!-- /.col-lg-4 -->
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <img class="img-circle" src="img/investigacion-min.png" alt="Generic placeholder image" width="140" height="140">
            <h2 class="featurette-heading">Hacia dónde va la investigación en las Ciencias de la Información</h2>
            <p class="text-muted">Impartida por la Dra. Xiomara Penélope Zaldivar Colado.</p>
            <p>En el auditorio de la CTM Nayarit el día 18 de Octubre de 2017, con horario de 12:30 a 14:30 Hrs.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hdvici">
                Ver detalles &raquo;
            </button>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="img/machine.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="featurette-heading">Machine learning 101</h2>
            <p class="text-muted">Impartida por el Ing. Edwin Efraín Jiménez Lepe.</p>
            <p>En el auditorio de la CTM Nayarit el día 19 de Octubre de 2017, con horario de 09:00 a 10:30 Hrs.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ml101">
                Ver detalles &raquo;
            </button>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2"></div>
    </div>
    <a name="optativas" id="optativas"></a>
</div>

<br><br><br>

<div class="container">
    <hr class="featurette-divider">
    <h1 class="featurette-heading">Conferencias Optativas</h1><br><br>
    <div class="row featurette">
        <div class="col-lg-12">
            <div class="card">
                <div class="col-lg-12">
                    <h2 class="card-header featurette-heading text-center">Criptografía post-cuántica</h2>
                    <div class="col-lg-7">
                        <div class="card-block">
                            <br><br>
                            <h4 class="card-title text-muted">Impartida por el Lic. Diego Armando Retana García.</h4>
                            <p class="card-text lead">En el auditorio de la CTM Nayarit el día 17 de Octubre de 2017, con horario de 12:30 a 14:30 Hrs.</p>
                            <div class="col-sm-offset-5 col-sm-2 text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cpc">
                                    Ver detalles &raquo;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <br>
                        <img class="img-circle" src="img/crip.jpg" width="300" height="300" alt="Generic placeholder image">
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="row featurette">
        <div class="col-lg-12">
            <div class="card">
                <div class="col-lg-12">
                    <h2 class="card-header featurette-heading text-center">Panel de emprendedores, ¡Orgullo Tigre!</h2>
                    <div class="col-lg-5">
                        <br>
                        <img class="img-circle"  src="img/tigres_tec_tepic.png" width="300" height="300" alt="Generic placeholder image">
                    </div>
                    <div class="col-lg-7">
                        <div class="card-block">
                            <br><br>
                            <h4 class="card-title text-muted">Dirigida por la Mtra. Veronica Ramírez Jáuregui.</h4>
                            <p class="card-text lead">En el auditorio de la CTM Nayarit el día 17 de Octubre de 2017, con horario de 18:00 a 20:00 Hrs.</p>
                            <div class="col-sm-offset-5 col-sm-2 text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#peot">
                                    Ver detalles &raquo;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="row featurette">
        <div class="col-lg-12">
            <div class="card">
                <div class="col-lg-12">
                    <h2 class="card-header featurette-heading text-center">Dispositivos robóticos y su integración en aplicaciones con realidad virtual</h2>
                    <div class="col-lg-7">
                        <div class="card-block">
                            <br><br>
                            <h4 class="card-title text-muted">Impartida por el Dr. Ulises Zaldívar Colado.</h4>
                            <p class="card-text lead">En el auditorio de la CTM Nayarit el día 18 de Octubre de 2017, con horario de 16:00 a 18:00 Hrs.</p>
                            <div class="col-sm-offset-5 col-sm-2 text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#driarv">
                                    Ver detalles &raquo;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <br>
                        <img class="img-circle" src="img/rob.png" width="300" height="300" alt="Generic placeholder image">
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- ************************************ MODALES ********************************* -->


<!-- Modal Inteligencia Artificial (IBM) -->
<div class="modal fade" id="iA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Inteligencia Artificial (IBM)</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Inteligencia Artificial está en todas las áreas que casi en cualquier parte se hace presente.</p>
                <p>Existen herramientas en Inteligencia Artificial que son tendencias en el mundo de las empresas, está ligada a lo que es Big Data (volúmenes de datos que no pueden producirse por software normal). Extracción, transformación y carga, Machine Learning, Depp Learning y las redes neuronales son términos que van de la mano con la Inteligencia Artificial.</p>
                <p>Según Nils Jhon la Inteligencia Artificial tiene dos grandes pilares: </p>
                <ul>
                    <li>Los algoritmos genéticos</li>
                    <li>Redes neuronales</li>
                </ul>
                <img class="img-responsive" src="img/IMG_9549.JPG" align="right" width="300" height="300" alt="Generic placeholder image">
                <p>Machine Learning se divide en lenguaje supervisado y no supervisado, el primero es entrenado.</p>
                <p>Deep Learning se utiliza actualmente para la gran cantidad de datos.</p>
                <p>En 2009 IBM creo una maquina llamada DeepBlue la cual le gano al mejor jugador de ajedrez en el mundo, por lo que el jugador dijo “La máquina nunca se cansó, yo sí”.</p>
                <p><strong>Watson: </strong>Sistema de computación cognitiva que aprende e interactúa naturalmente con la gente, fueron necesarios cuatro años para entrenar a Watson en el área de la salud.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tendencias en el Desarrollo Web (Oracle) -->
<div class="modal fade" id="tdw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Tendencias en el Desarrollo Web (Oracle)</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Inició hablando algunos términos importantes en el desarrollo de aplicaciones Web, así como mencionando algunas herramientas que se utilizan actualmente para el desarrollo Web, a continuación, se muestra algo de lo que se mencionó.</p>
                <lu>
                    <li><strong>Front-end</strong> Todo lo que está en el cliente, lo que se ve en el navegador; HTML, CSS, JavaScript, Bootstrap, Less, Sass, Staylus.</li>
                    <li><strong>Back-end</strong> Todo lo oculto en los servidores; Framework: Ruby on Rails, Laravel, Darango, ASP.Net.</li>
                    <li>Las <strong>aplicaciones Web Progresivas</strong> son las que se accede desde un móvil y no son nativas casi en tiempo real.</li>
                    <li><strong>Patron de diseño:</strong> Soluciones a problemas recurrentes, y surgen para optimizar código, es importante que los usuarios utilicen interacción fluida.</li>
                    <img class="img-circle" src="img/IMG_9553.JPG" align="left" width="300" height="300" alt="Generic placeholder image">
                    <li><strong>React:</strong> Fue desarrollado por FaceBook, y es basado básicamente en el desarrollo de componentes.</li>
                    <li><strong>IDE:</strong> No es necesario utilizar el más nuevo, grande, costoso o rápido, sino el mas cómodo para el desarrollador.</li>
                </lu>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Herramientas y técnicas para incrementar la calidad del código (michelada.io) -->
<div class="modal fade" id="hticc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Herramientas y técnicas para incrementar la calidad del código (michelada.io)</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Inició hablando algunos conceptos en el Desarrollo de Software, dentro de lo mas importante que menciono fue la vida que debe llevar el software desde su elaboración hasta su implementación:</p>
                <ol>
                    <li>Debe cumplir con un propósito.</li>
                    <li>Informa adecuadamente cuando ocurre un problema.</li>
                    <li>Tiene pruebas.</li>
                    <li>Se entiende su función con solo leerlo.</li>
                    <li>Sigue un estilo de código desde el inicio.</li>
                    <li>Utiliza un flujo de colaboración adecuado.</li>
                    <li>Implementa correctamente los patrones de diseño.</li>
                    <li>Se pueden utilizar intuitivamente.</li>
                </ol>
                <img class="img-circle" src="img/IMG_9575.JPG" align="right" width="300" height="300" alt="Generic placeholder image">
                <p>Mencionó que en la actualidad el uso de una herramienta como git evita el que estemos guardando versiones tras versiones de los códigos que se generan para el desarrollo de aplicaciones, por lo que es de gran utilidad llevarlo a la práctica para así tener una mejor organización en el desarrollo. A continuación, se mencionan algunos de los puntos que el conferencista considera básicos para el desarrollo.</p>
                <ol>
                    <li>Definir una rama estable para la producción.</li>
                    <li>Definir una rama para ambiente de integración.</li>
                    <li>Definir un estándar para nombrar las ramas de trabajo individuales.</li>
                    <li>Definir un estándar para los commit message.</li>
                    <li>Definir estándar para la versión de github.</li>
                </ol>
                <p>Git hooks: Git tiene una forma de activar scripts personalizados cuando ocurren ciertas acciones importantes.</p>
                <ul>
                    <li>Pre-commit</li>
                    <li>Pre-push</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Hacia dónde va la investigación en las Ciencias de la Información -->
<div class="modal fade" id="hdvici" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Hacia dónde va la investigación en las Ciencias de la Información</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>¿Cómo está el posgrado de calidad en México?</strong></p>
                <p>Existen 2155 programas de posgrados de calidad en México y el área con mas demanda es ciencias sociales.</p>
                <p>Básicamente cuanta con la siguiente categoría:</p>
                <ol>
                    <li>Estructura y personal académico de posgrado.</li>
                    <li>Estudiante</li>
                    <li>Infraestructura del programa</li>
                    <li>Resultados</li>
                </ol>
                <img class="img-responsive" src="img/IMG_9602.JPG" align="right" width="300" height="300" alt="Generic placeholder image">
                <p>En Nayarit existen solo 12 programas de posgrado de calidad en los que participan maestrías y doctorados o mejor conocidos como programas integrales.</p>
                <p>El posgrado en ciencias de la información aplica en las siguientes áreas:</p>
                <p>Programa integral</p>
                <ul>
                    <li>Maestría y doctorado.</li>
                </ul>
                <p>Líneas de generación y aplicación del conocimiento:</p>
                <ul>
                    <li>Computación y Sistemas.</li>
                    <li>Gramáticas.</li>
                </ul>
                <p>Para poder realizar programas de posgrados en CONACYT se cuentan con becas de financiamiento en los que a los estudiantes de maestría les apoyan con $10,500.00 y a los estudiantes de doctorado con $13,500.00</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Machine learning 101 -->
<div class="modal fade" id="ml101" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Machine learning 101</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-circle" src="img/IMG_9633.JPG" align="left" width="300" height="300" alt="Generic placeholder image">
                <p><strong>¿Qué es Machine Learning?</strong><br>Es el subcampo de las ciencias de la computación y una rama de la inteligencia artificial cuyo objetivo es desarrollar técnicas que permitan a las computadoras aprender. De forma más concreta, se trata de crear programas capaces de generalizar comportamientos a partir de una información suministrada en forma de ejemplos.</p>
                <p>El aprendizaje automático tiene como resultado un modelo para resolver una tarea dada. Entre los modelos se distinguen</p>
                <ul>
                    <li><strong>Los modelos geométricos</strong>, construidos en el espacio de instancias y que pueden tener una, dos o múltiples dimensiones.</li>
                    <li><strong>Los modelos probabilísticos</strong>, que intentan determinar la distribución de probabilidades descriptora de la función que enlaza a los valores de las características con valores determinados.</li>
                    <li><strong>Los modelos lógicos</strong>, que transforman y expresan las probabilidades en reglas organizadas en forma de árboles de decisión.</li>
                </ul>
                <p><strong>¿Qué es aprendizaje?</strong></p>
                <p>Es el proceso a través del cual se modifican y adquieren habilidades, destrezas, conocimientos, conductas o valores como resultado del estudio, la experiencia, la instrucción, el razonamiento y la observación.</p>
                <br>
                <p>Adémas el conferenciasta proporcionó recomendaciones para tomar cursos en línea que hablan específicamente de Machine Learning y nos ayudaran a conocer más el aprendizaje automático para de esta manera poder capacitarnos en caso de querer desarrollar software de este tipo estos cursos son:</p>
                <ul>
                    <li>Cousera</li>
                    <li>Udacity</li>
                    <li>eDx</li>
                </ul>
                <p>Por ultimo lanzó una pregunta al publico, ¿Es Machine Learning la respuesta a todo? La cual respondió que No! ya que no todo el software es desarrollado para inteligencia artificial o aprendizaje automático.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- ************************** optativas *********************** -->
<!-- Modal Criptografía post-cuántica -->
<div class="modal fade" id="cpc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Criptografía post-cuántica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Es la ciencia que desarrolla técnicas matemáticas para cifrar información.</p>
                <p>Se divide en:</p>
                <ul>
                    <li>Simétrica: Utiliza la misma llave</li>
                    <li>Asimétrica: Utiliza dos llaves</li>
                </ul>
                <p>Algoritmos post-cuánticos</p>
                <p>Se llama post-cuántico si no existe un algoritmo que aproveche la computadora cuántica para romperlo.</p>
                <ul>
                    <li>Criptografía basada en códigos</li>
                    <li>Criptografía basada en Lattices</li>
                    <li>Criptografía basada en funciones Hash.</li>
                    <li>Criptografía basada en sistemas de ecuaciones de varias variables.</li>
                </ul>
                <img class="img-responsive" src="img/IMG_9563.JPG" align="left" width="300" height="300" alt="Generic placeholder image">
                <p>RSA fue diseñado a finales de los años 70´s es un sistema criptográfico de clave pública. Es el primer y más utilizado algoritmo de este tipo y es válido tanto para cifrar como para firmar digitalmente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Panel de emprendedores, ¡Orgullo Tigre! -->
<div class="modal fade" id="peot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Panel de emprendedores, ¡Orgullo Tigre!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>El panel de emprendedores ¡Orgullo Tigre! Estuvo a cargo de la Mtra. Verónica Ramírez Jáuregui quien fungio como el papel de moderadora, estuvieron presentes ex alumnos egresados del Instituto Tecnológico de Tepic y que hoy cuentan con su propia empresa, tales como la Ing. Obdulia, el Ing. Gerardo, Ing. Juan Manuel, y el Ing. Nicolás, afirmaron haber sido la primer generación egresada de la carrera Ingeniería en Sistemas Computacionales, el tema principal fue el emprendimiento, para lo cual estas fueron algunas de las preguntas realizadas:</p>
                <ol>
                    <li><strong>¿Cuáles son las reglas para ser un emprendedor exitoso?</strong></li>
                    <p>Ing. Gerardo: Menciona que no hay una serie de reglas para poder ser un emprendedor, dice que lo importante es guiarte por lo que a ti te gusta y te hace feliz.</p>
                    <p>Ing. Francisco: Menciona que depende del cliente.</p>
                    <li><strong>¿Qué tan importante es un segundo idioma?</strong></li>
                    <p>Ing. Obdulia: Es primordial para lo que se vive en la actualidad, existe una mejor interacción por lo que se considera un mundo más exigente.</p>
                    <p>Ing. Nicolás: Dependerá de la idea y el mercado en el que te interese. Considera el inglés un idioma líder y es en USA, India y China los más grandes negocios hablantes de este idioma.</p>
                    <li><strong>¿Qué es lo más importante?, ¿Emprender o emplearse?</strong></li>
                    <img class="img-circle" src="img/IMG_9594.JPG" align="right" width="300" height="300" alt="Generic placeholder image">
                    <p>Ing. Juan Manuel: Considera que debería emprender desde egresado por las ideas que se tienen, en caso de fracasar considera buscar emplearse, pero solo por un tiempo y después volver a intentar levantarse como emprendedor.</p>
                    <p>Ing. Gerardo: Lo considera que la experiencia laboral lo impulso a querer emprender. Inicio en los alimentos y de ahí partió para hacer negocios.</p>
                    <li><strong>¿Qué tan difícil fue para usted ser empresario?</strong></li>
                    <p>Ing. Obdulia: Si fue difícil, es algo en lo que te encuentras con tropiezos y obstáculos, pero es necesario no rendirse e ir buscando tu objetivo. “Es preocupante pero emocionante”, enfocarte en tu pasión y lograrlo.</p>
                    <p>Ing. Nicolás: Lo considera algo muy complicado, y dependerá de la manera de pensar de cada uno.</p>
                    <li><strong>¿Crees que existe oportunidad de emprendimiento en Nayarit para las carreras de ISC e ITIC´s?</strong></li>
                    <p>Ing. Juan Manuel: Considera que no es obstáculo la carrera para poder emprender un negocio, y dice no ser necesario el emprender con un negocio exclusivamente del área en que te desenvuelves.</p>
                </ol>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Dispositivos robóticos y su integración en aplicaciones con realidad virtual -->
<div class="modal fade" id="driarv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Dispositivos robóticos y su integración en aplicaciones con realidad virtual</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está conferencia fue impartida por el Dr. Ulises Zaldívar Colado quien actualmente es el director de algunos proyectos de CONACYT, por lo que menciono que han ganado distintos premios a nivel regional, nacional e internacional debido al gran auge que ha tenido la robotida y de todo lo que con ella puede lograrse, así mismo mencionó y mostro algunos videos de los proyectos que han realizado y son verdaderamente sorprendentes.Algunos de los temas tocados fueron los siguientes:</p>
                <img class="img-circle" src="img/IMG_9608.JPG" align="right" width="300" height="300" alt="Generic placeholder image">
                <p><strong>¿Que es realidad virtual?</strong></p>
                <p>Es la representación sintética de la realidad, esta representación puede ser en 3D de la realidad, además de ser visual, auditiva y táctil. Su objetivo principal es enviar información hacia el mundo real, recibir información del mundo real y la interacción con usuarios en el mundo real.</p>
                <p>Mencinó alfunos de los dispositivos que actualmente son usados en el mercado por la robotica, así como los mas grandes fabricadores de los mismos es Google y Amazon</p>
                <ul>
                    <li>Teclados</li>
                    <li>Ratón</li>
                    <li>Joystick</li>
                    <li>Kinect</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>